<div class="preguntas">
  <div *ngFor="let i of preguntas" div="pregunta">
    <p class="estado-{{i.estado}}">{{i.texto}}</p>
    <div *ngFor="let j of i.respuestas">
      <input type="radio" value="{{j.id}}" name="pregunta{{i.id}}" id="respuesta{{i.id}}{{j.id}}"
       [(ngModel)]="i.respuesta" (ngModelChange)="onValidar(i)">
      <label>{{j.texto}}</label> <!--TSe puede omitir este label.-->
    </div>
  </div>
</div>

<div class="estadoUsuario{{estadoUsuario}}">
  <span >Has acertado {{respuestasValidas}} de {{preguntas.length}}</span>
</div>


